body {
  margin: 20px 50px;
}

h1 {
  font-weight: 500;
  font-size: 25px;
  border-bottom: 1px solid rgba(60, 60, 60, 0.3);
  padding-bottom: 20px;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  cursor: default;
}

h3 {
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  cursor: default;
}

.menuItem {
  width: 300px
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #1e5687;
}

input:focus+.slider {
  box-shadow: 0 0 1px #1e5687;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

/* rangesliders */
.slidecontainer {
  margin-top: 10px;
  margin-bottom: 35px;
  width: 300px;
}

.rangeSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #1e5687;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  opacity: 0.7;
}

.rangeSlider:hover {
  opacity: 1;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}

/*for firefox*/
.rangeSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}

.menuItem {
  margin-bottom: 10px;
}
