#MTGHoverImages .cardHover {
  position: fixed !important;
  z-index: 100;
  width: 300px;
  cursor: default;
}

#MTGHoverImages .cardHover img {
  width: 100%;
  border-radius: 6%;
  cursor: pointer;
}

.dragger {
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, -80%);
  opacity: 0;
  background: #00ffc2;
}
