a:hover .cardHover {
  display: initial !important;
  top: 100%;
  left: 100%;
  z-index: 100;
  width:300px;
}

a:not(:hover) .cardHover {
  display: none !important;
}


a .cardHover img {
  width: 100%;
  border-radius: 6%;
  cursor: default;
}

a:hover .cardHover.hoverDisabled {
  display: none !important;
}
